<!DOCTYPE html>
<html lang="en">
  <head>
    <title>demo for Angular</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-dns-prefetch-control" content="on">
   
	<link rel='stylesheet' href='css/common.css'></link>
	 <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
  </head>
  <script type='text/javascript' src='./js/jquery-1.10.2.min.js'></script>
  <script src='./js/angularJs/angular.min.js'></script>
  <script src='./js/angularJs/angular-route.js'></script>
  <script type='text/javascript' src='./js/lib/jquery.tmpl.min.js'></script>
  
  	<style type='text/css'>
  		input{ border :1px solid #eee;height:1.8em; }
		.errorTp{width:100px;height:100px;background:red;}
		.invalid{ color: #dd4b39; }
		.invalid input{ border-color: #dd4b39; box-shadow: none;  }
  	</style>
  
	<body ng-app="angularApp">
			<div>{{greeting.text}}</div>
	  <div ng-controller='HelloController' >
	    <input id='tt' type='text' ng-model='greeting.text' style='width:15em;height:2em;line-height:2em;' />
	    <p >{{greeting.text}}, World</p>
		<div style='width:100px;height:40px;background:wheat;' ng-click="send()"></div>
		<div style='width:100px;height:20px;background:red;font-size:12px;' ng-if='0'>你看的到的</div>
		<div ng-repeat="num in nums">{{$index}}</div>
		<div ng-controller='childController'>
			<div>能看到么</div>
			<div>{{info}}</div>
			<div>广播信息：{{broadcast}}</div>
		</div>
		<div ng-controller='formCtrl'>
			<form novalidate name='form' ng-submit="sendForm()" >
				<div class='ma ' style='width:600px;' ng-class="{invalid:form.nameCn.$dirty&&form.nameCn.$invalid}">
				
					<input type='text' name='nameCn' ng-model='user.name' required />
				</div>
				
			</form>
		</div>
		
		<div class='section' ng-include="'A1201.html'" > </div>
	  </div>
	  		</div>
			
			
			<div ng-app='myApp'>
				<div class='' ng-controller="myCtrl">{{test.name}}</div>
			</div>
	</body>
	 <script type='text/javascript' >
   		angular.module('myApp',[])
		.controller('myCtrl',['$scope',function($scope){
			$scope.test = {};
			$scope.test.name = '天才';
		}]);
		var angularApp = angular.module('angularApp',[]);
        angularApp
		.run(function($rootScope){
			$rootScope.name = 'rencai';
		})
		.controller('HelloController', [ '$scope','$http', function($scope,$http){
			$scope.greeting = {text:'xxx rencai'} ;
			$scope.send = function(){ console.log('send'); } ;
			$scope.broadcast = 'father info' ;
		}])
		
		.controller('formCtrl',['$scope',function($scope){
				$scope.user ={} ;
//				$scope.user.name='kk';
				
//				$('form').submit(function(){
//					if($scope.form.$valid){
//						console.log($scope.form.$valid);
//					}else{
//						return false ;
//					}
//				});
//				$('form').submit(function(){
//					return false;
//				});
				
				$scope.sendForm = function(){
					alert(1);
					console.log($scope.form.$valid);
					console.log('we has submit');
					
				};
		}])
		.controller('childController',['$scope',function($scope){
			$scope.broadcast = 'child info';
			$scope.$on('myCall',function(e,info){
				$scope.broadcast = 'xxxxx' ;
			});
		}])
		.controller('aController',['$scope',function($scope){
			$scope.msg = '非常好好' ;
		}]);
		
		
  		
		
	
  </script>
	

 
</html>
