<!DOCTYPE html>
<html lang="en">
  <head>
    <title>demo for Angular</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-dns-prefetch-control" content="on">
   
	<link rel='stylesheet' href='css/common.css'></link>
	 <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
  </head>
  <script type='text/javascript' src='./js/jquery-1.10.2.min.js'></script>
  <script type="text/javascript" src='js/angularJs/angular.js'></script>
	<script type="text/javascript" src='js/angularJs/angular-ui-router.js'></script>
  <script type='text/javascript' src='./js/lib/jquery.tmpl.min.js'></script>
  
  	<style type='text/css'>
  		input{ border :1px solid #eee;height:1.8em; }
		.errorTp{width:100px;height:100px;background:red;}
		.invalid{ color: #dd4b39; }
		.invalid input{ border-color: #dd4b39; box-shadow: none;  }
  	</style>
  
	<body >
		<div ng-app="angularApp">
			<div>{{greeting.text}}</div>
	  <div ng-controller='HelloController' >
	   		<input id='tt' type='text' ng-model='greeting.text' style='width:15em;height:2em;line-height:2em;' />
		    <p >{{greeting.text}}, World</p>
			<div style='width:100px;height:40px;background:wheat;' ng-click="send()"></div>
			<div style='width:100px;height:20px;background:red;font-size:12px;' ng-if='0'>你看的到的</div>
			
	  </div>
	  		</div>
			
		</div>
			
	</body>
	 <script type='text/javascript' >
	 	
		
		angular.module('angularApp',['myApp'])
		.config(['$myPathProvider',function($myPathProvider){
			$myPathProvider.setUrl("ppppp.com");
		}])
//		.run(function($rootScope){
//			$rootScope.name = 'rencai';
//		})
		.controller('HelloController', [ '$scope','$http','$myPath',function($scope,$http,$myPath){
			$scope.greeting = {text:'xxx rencai'} ;
			$scope.send = function(){ console.log('send'); } ;
			$scope.broadcast = 'father info' ;
			console.log('fuck');
			console.log($myPath);
			$myPath.getUrl();
		}])
		
		
		;
		
		
		
		
		
		
		
		
		function $myPathProviderXXX(){
			this.url = "www.baidu.com" ;
			this.log = function(){
				console.log('logs');
			}
			this.setUrl = function(str){
				this.url = str ;
			}
			this.$get = $get ;
			function $get(){
				var self = this ;
				return {
					getUrl : function(){
						console.log(self.url);
					}
				}
			}
		}
   		angular.module('myApp',['ui.router'])
		.provider('$myPath',function(){
			this.url = "www.baidu.com" ;
			this.path  = 'wwww.dodo';
			this.log = function(){
				console.log('logs');
			}
			this.setUrl = function(str){
				this.url = str ;
			}
			this.$get = function(){
				var self = this ;
				return {
					getUrl : function(){
						console.log(self.url);
					}
				}
			}
			
		})
//		.provider('$myPath',function(){
//			var url = "www.baidu.com" ;
			
//			return {
//				$get : {},
//				setUrl : function(str){
//					url = str ;
//				},
//				getUrl : function(){
//					console.log(url);
//				}
//			}
//		})
		.config(['$myPathProvider','$urlRouterProvider',function($myPathProvider,$urlRouterProvider){
//			console.log($urlRouterProvider);
			console.log($myPathProvider);
			$myPathProvider.setUrl('h5.game.cn') ;
		}])
		;
		
		
		
		
		
		
  		
		
	
  </script>
	

 
</html>
