<!DOCTYPE html>
<html lang="en">
  <head>
    <title>demo for creatjs</title>
	
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-dns-prefetch-control" content="on">
   
	<link rel='stylesheet' href='css/common.css'></link>
	 <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
  </head>
  <script type='text/javascript' src='./js/jquery-1.10.2.min.js'></script>
  <script src='./js/angularJs/angular.js'></script>
  <script type='text/javascript' src='./js/lib/jquery.tmpl.min.js'></script>
  <div src="http://code.angularjs.org/angular-1.0.1.min.js"></div>
  
  
  
	<body npp>
		
			<div >
	  <div ng-controller='HelloController' >
	    <input  type='text' ng-model='greeting.text' style='width:15em;height:2em;line-height:2em;' />
	    <p >{{greeting.text}}, World{{3*4}}</p>
		<div style='width:100px;height:40px;background:wheat;' ng-click="send()">
		
		</div>
		<div class='section' ng-bind='addHtml'> </div>
	  </div>
	  		</div>
			
	  
	</body>
	 <script type='text/javascript' >
   	
		var angularApp = angular.module('angularApp',[]);
        angularApp.controller('HelloController', [ '$scope','$http', HelloController]);
		
  		function HelloController($scope,$http){
			
			$scope.greeting = {text:'xxx rencai'} ;
			$scope.send = function(){
//				$http.get('./A1201.html').success(function(data){
//					console.log('success');
//					console.log(data);
//					$scope.addHtml = data ;
//				});
				angular.element('.section').text('66666') ;
			} ;
			
		}
		
		angular.bootstrap(document,['angularApp']) ;
		
	
  </script>
	

 
</html>
