<!DOCTYPE html>
<html>
  <head>
    <title>demo for creatjs</title>
	
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="x-dns-prefetch-control" content="on" />
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no, email=no" />
	<meta name="x5-orientation" content="portrait">
	<meta name="x5-fullscreen" content="true">
	<meta name="x5-page-mode" content="app">
	<meta name="msapplication-tap-highlight" content="no">
    
	<script type="text/javascript" src='js/vue.js'></script>
	<script type="text/javascript" src='js/jquery-1.10.2.min.js'></script>
	<link rel='stylesheet' href='css/common.css'></link>

  </head>
  <style type="text/css">
  		html,body{ height:100%;}
		.box1{ border:1px solid #666;line-height:35px; }
  </style>
  <body style='min-width:1024px;'>
  		<div>干嘛嫩呢饭呢</div>
		<div id='vue' style='margin-top:100px;'>
			<father :text='text'></father>
		</div>
		<div id='vue2' style='margin-top:100px;' >
			{{text}}
			<input type='text' class='box1' v-model='text'></input>
		</div>
  </body>
  <script type='x' id='father'>
  		<div>
  			<div>{{text}}</div>
			<input type='text' class='box1' v-model='text'></input>
			<child :text.sync='text'></child>
		</div>
  </script>
   <script type='x' id='child'>
   		<div>
	  		<div>{{text}}</div>
			<div>child : input</div>
			<input type='text' class='box1' v-model='text'></input>
		</div>
  </script>
  
  <script type='text/javascript' >
  	
//		var father = Vue.component('father',{
//			template : '#father',
//			data : function(){
//				return {
//					text : 'father world'
//				}
//			}
//		});
		var father = Vue.extend({
			template : '#father',
			methods : {
				reverse : function(){
					return this.text.split('').reverse().join('');
				}
			},
			data : function(){
				return {
					text : 'father world'
				}
			}
		});
		
		
		var child = Vue.component('child',{
			template : '#child',
			props : ['text'] ,
			data : function(){
				return {};
			}
		})
	
	
  		var dom = new Vue({
			el : '#vue',
			components : {
				'father' : father
			},
			data : {
				text : 'hello dom'
			}
		});
		var dom = new Vue({
			el : '#vue2',
			data : {
				text : 'hello world2'
			}
		});
  </script>
</html>
