<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no">
	<meta http-equiv="x-dns-prefetch-control" content="on">

	<title>demo 范例</title>
	<script type="text/javascript" src='../require.js'></script>
	<script type="text/javascript" src='../jquery-1.10.2.min.js'></script>
	<script type="text/javascript">
		window.currAsset = {
			cssPath : '../../css/' ,
			baseUrl : '../lib'
		};
	</script>
	<script type="text/javascript" src='../utils.js'></script>
	<link rel='stylesheet' href='../../css/common.css'></link>
	<!--  -->

</head>
	<style type='text/css'>
		
		.bg5{
			background:red;
		}
		body{

		}
	</style>

<script type='text/x-jquery-tmpl' id='component1'>
	<div class='fullw pa00' component='comp1' style='height:500px;'>
		<div class='auto bg5 ma' style='width:40%;height:200px;background:red;'></div>
	</div>
</script>
	
	
<script type='text/javascript'>
	var cc = 1 ;
	ut.ready(function(){

		console.log(ut.iScroll) ;
		window.cc = 'fuck' ;

	});
</script>
<body>
	<div class='bg5 ma' style='width:50%;height:400px;'></div>
</body>
</html>





