

<style text='text/css'>
	.bg0{
		background:darkgreen;
	}
</style>

<script type='text/x' id='testTmpl'>
	<div class='bg0' style='width:300px;height:200px;margin:auto;margin-top:300px;'>${$data.msg}</div>
	{{tmpl 'testTmpl2'}}
</script>




<script type='text/x' id='messageTmpl'>
	<div class='pa00 full' style='background:rgba(0,0,0,0.3);z-index:99;font-size:28px;' id='message'>
		<div class='pa auto2 oh' style='width:400px;border-radius:10px;top:45%;'>
			<div class='fullw pr' style='height:130px;background:rgba(255,255,255,1);line-height:1.5;'>
				<div class='pa auto2 tac' style='width:85%;'>@{@data}</div>
			</div>
			<div class='fullw pr tac sureTp fs28' as='op1'
				style='margin-top:1px;height:80px;line-height:80px;background:rgba(255,255,255,1);color:#007aff;'>
				确定
			</div>
		</div>
	</div>
</script>



<style type='text/css'>
	.navCp{
		height : 80px; font-size : 28px; line-height : 80px; background : white ;z-index:2;
		border-width : 0 0 1px 0; border-style : solid ; border-color : #ADADAD ;
	}
	.nav-vline{ height:72%;width:1px; background : #ADADAD ;position:relative;top:14%; }
	.nav-head{ font-size : 28px; line-height : 40px; text-align : center ; }
	.nav-head-active{ color : #d7000f; }
	.nav-arrow-down{ 
		width: 16px;height:16px; border-style: solid ; border-color :#ADADAD ; border-width : 3px 3px 0 0; -webkit-transform : rotateZ(135deg);
		position : relative; top : 7px; float : left ; -webkit-transition : all 300ms ease ;
	}
	.nav-head-active .nav-arrow-down{ -webkit-transform : rotateZ(-45deg); border-color :#d7000f ; top : 15px; }
	.nav-head-active:before{
		content : ' ' ; display : block; width:80%;height:4px;
		background : #d7000f ; position: absolute; left:10%;bottom:0;
	}
	.nav-move-down{ -webkit-animation:navMD 400ms ; -webkit-animation-timing-function: ease; }
	@-webkit-keyframes navMD{
		0% { -webkit-transform : translate(0,-100%); }
		100%{ -webkit-transform : translate(0,0); }
	}
	.nav-trans{ -webkit-transition : all 500ms ease ; }
	.nav-box{ border-left:1px solid #ADADAD; }
	.nav-clear,.nav-listTp{ 
		height : 78px; line-height:78px; text-indent : 20px; text-align : left ;
		border-bottom : 1px solid white ; position : relative; 
		border-width: 0 0 1px 0;
	    border-style: solid;
	    border-color: #ADADAD;
	}
	.nav-list-active[navtype="1"]{ background : #EEEEEE ; color : #d7000f ; }
	.nav-list-active[navtype="2"]{ background : #EEEEEE ; color : #d7000f ; }
	.nav-list-active[navtype="3"]{ background : #EEEEEE ; color : #d7000f ; }
	.nav-list-active:before{
		content : ' ' ; display : block ; width:4px; height : 60%;
		position : absolute; top:20%;left : 8px;background : #d7000f ;
	}
	.nav-end-active{ color : #d7000f ; }
	.nav-end-active:after{
		content : ' ' ; display : block ;
		width:24px; height : 12px;
		position : absolute; top:35%;right : 15px;
		border-style : solid ; border-color : #d7000f ;
		border-width : 0 0 3px 3px; -webkit-transform : rotateZ(-45deg);
	}
	.nav-btn{ width:140px;height:60px;border:1px solid #d5d5d5;border-radius : 10px;font-size:28px;line-height:60px;margin:auto; }
</style>
<script type='x' id='navCpTmpl'>
	<div class='navCp flex pr'>
		{{each @data.types||[]}}
			{{if @index!=0}}<div class='nav-vline'></div>{{/if}}
			{{tmpl(@value) 'navHeadTmpl'}}
		{{/each}} 
	</div>
</script>
<script type='x' id='navHeadTmpl'>
	<div class='flex1 tac nav-head'>
		<div class='auto2 flex' style='width:80%;'>
			{{if @data.marks}}
				{{if @data.marks2}}
			<div class='text-ellipsis flex1 nav-mark' style='color:#d7000f;' >@{@data.marks2['type'+@data.marks2.typeLevel+'NameCn']}</div>
				{{else}}
			<div class='text-ellipsis flex1 nav-mark' style='color:#d7000f;' >@{@data.marks[0]['type'+@data.marks[0].typeLevel+'NameCn']}</div>
				{{/if}}
			{{else}}
			<div class='text-ellipsis flex1' >@{@data['type'+@data.typeLevel+'NameCn']}</div>
			{{/if}}
			<div style='width:30px;'><div class='nav-arrow-down '></div></div>
		</div>
	</div>
</script>
<script type='x' id='navBodyTmpl'>
	<div class='oh pr nav-move-down fullw' style='background:white;height:55%;'>
		{{tmpl 'navBodytmplTmpl'}}
	</div>
</script>
<script type='x' id='navBodytmplTmpl'>
	<div class='full pr nav-body-tmpl'>
		{{if @data == 2 || @data == 3}}
		<div class='fullw pr oh nav-body' style='height:80%;'></div>
		<div class='tab fullw' style='height:20%;border-top:1px solid #d5d5d5;'>
			<div><div class='nav-btn nav-reset' as='op3'>重置</div></div>
			<div><div class='nav-btn nav-sure' as='op3'>确认</div></div>
		</div>
		{{else}}
		<div class='full pr oh nav-body'></div>
		{{/if}}
	</div>
</script>
<script type='x' id='navBoxTmpl'>
	<div class='nav-box full oh nav-trans pa00'  id='nav-box-@{@data.navType}' >
		{{tmpl(@data) 'navListUpTmpl'}}
	</div>
</script>
<script type='x' id='navListUpTmpl'>
	<div class='fullw' id='listUp'>
		<div class='nav-clear'>不限</div>
		{{each @data['type'+(@data.typeLevel+1)+'s']}}
			{{tmpl(@value) 'navList'+@data.navType+'Tmpl'}}
		{{/each}}
	</div>
</script>
<script type='x' id='navList1Tmpl'>
	<div class='nav-list1 nav-listTp' navtype='1'>@{@data['type'+@data.typeLevel+'NameCn']}</div>
</script>
<script type='x' id='navList2Tmpl'>
	<div class='nav-list2 nav-listTp' navtype='2'>@{@data['type'+@data.typeLevel+'NameCn']}</div>
</script>
<script type='x' id='navList3Tmpl'>
	<div class='nav-list3 nav-listTp' navtype='3'>@{@data['type'+@data.typeLevel+'NameCn']}</div>
</script>







