

/**
*	默认样式设定
*	
**/
body {
	background : white;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-backface-visibility: hidden;
	-webkit-user-select: none;
	-webkit-text-size-adjust:none;
	font-size: 18px;
	font-family: "Microsoft YaHei","Apple LiGothic Medium","LiHei Pro Medium",Arial,Helvetica,sans-serif;

}

table,td,th{
	padding:0px;
	border:0px;
}
ul{
	list-style: none outside none;
	padding:0px;
	margin:0px;
}
input{
	padding:0px;
	border:0px;
}
textarea{
	border:none;
}


/**
*	常用样式定义
*
**/

.pa{ position: absolute; }
.pa00{ position: absolute; top: 0; left: 0; }
.pa10{ position: absolute; bottom: 0; left: 0; }
.pa01{ position: absolute; top: 0; right: 0; }
.pa11{ position: absolute; bottom: 0; right: 0; }
.pr{ position: relative; }
.pf{ position: fixed; }

.ma{ margin: auto; }
.full{ width: 100%; height: 100%; }
.fullw{ width: 100%; }
.fullh{ height: 100%; }

.dn{ display: none; }
.oh{ overflow: hidden; }
.nE{ pointer-events: none; }
.aE{ pointer-events: auto; }

.fl{ float: left; }
.fr{ float: right; }
.lay > div { float: left; }
.lay2 > div { float: right; }

.tal{ text-align: left; }
.tar{ text-align: right; }
.tac{ text-align: center; }
.taj{ text-align: justify; }


.tab>div {
	display: table-cell;
	vertical-align: middle;
}
.tab {
	display: table;
	border: 0px;
	border-spacing: 0px;
	text-align: center;
}
/**
*	flex布局 css样式
*/
.flex,.flexRow{
	display : -webkit-box;
	-webkit-box-orient : horizontal ;
	display: flex ;
	display: -webkit-flex ;
	flex-direction : row ;
	-webkit-flex-direction : row ;
}
.flexColumn{
	display : -webkit-box;
	-webkit-box-orient : vertical ;
	display: flex ;
	display: -webkit-flex ;
	flex-direction : column ;
	-webkit-flex-direction : column ;
}
.flex1{
	box-flex:1;
	-webkit-box-flex:1;
	flex : 1 ;
	-webkit-flex : 1 ;
	position : relative;
}
.flex2{
	box-flex:2;
	-webkit-box-flex:2;
	flex : 2 ;
	-webkit-flex : 2 ;
	position : relative;
}
.flex3{
	box-flex:3;
	-webkit-box-flex:3;
	flex : 3 ;
	-webkit-flex : 3 ;
	position : relative;
}
.flexCenter{
	-webkit-box-align : center ;
	align-items : center ;
	-webkit-align-items : center ;
}
.flexStart{
	-webkit-box-align : start ;
	align-items : flex-start ;
	-webkit-align-items : flex-start ;
}
.flexEnd{
	-webkit-box-align : end ;
	align-items : flex-end ;
	-webkit-align-items : flex-end ;
}
.flexBaseLine{
	-webkit-box-align : baseline ;
	align-items : baseline ;
	-webkit-align-items : baseline ;
}
.flexStretch{
	-webkit-box-align : stretch ;
	align-items : stretch ;
	-webkit-align-items : stretch ;
}


.circle{
	border-radius : 50% 50% ;
	-webkit-border-radius : 50% 50% ;
}
.bb{
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}

.tr0{
	-webkit-transform:translate(0px,0px);
}
.tr2{
	-webkit-transform:translate(2px,2px);
}
.tr4{
	-webkit-transform:translate(4px,4px);
}
.op3{
		position: relative;
		overflow :hidden;
	}
.op3:before{
	content : '';
	display : block;
	width:100%;height:100%;
	position:absolute;
	top:0;left:0;
	background : rgba(0,0,0,0.3);
}

.auto{
	position:absolute;
	top:0;bottom:0;margin:auto;right:0;left:0;
}
.auto2{
	position:absolute;
	top:50%;left:50%;
	transform : translate(-50%,-50%);
	-webkit-transform : translate(-50%,-50%);
	
}
.halfY{
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.transformOrigin,.origin{
	transform-origin:0px 0px;
	-webkit-transform-origin:0px 0px;
}
.wba{ word-break: break-all; }
.text-ellipsis{ 
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.text-bold{ font-weight: 800; }


.color-black{
	color:black;	
}
.color-white{
	color:white;	
}
.color-orange{
	color:#F3A310;
}
.color-grey{
	color:#aaaaaa;
}
.color-grey2{
	color:#747474;
}
.color-red{
	color:#dd0000;
}
.color-red2{
	color:#f81212;
}
.color-green{
	color:#69BB1D;
}
.background-orange{
	background:#F3A310;
}
.bg-white{
	background:white;
}




.font-rem-6{
	font-size:0.6rem;
}
.font-rem-8{
	font-size:0.8rem;
}
.font-rem-9{
	font-size:0.9rem;
}
.font-rem-10{
	font-size:1rem;
}
.font-rem-11{
	font-size:1.1rem;
}
.font-rem-12{
	font-size:1.2rem;
}
.font-rem-13{
	font-size:1.3rem;
}
.font-rem-14{
	font-size:1.4rem;
}
.font-rem-15{
	font-size:1.5rem;
}
.font-rem-16{
	font-size:1.6rem;
}
.font-rem-18{
	font-size:1.8rem;
}

.fs24{ font-size : 24px ; }
.fs28{ font-size : 28px ; }
.fs32{ font-size : 32px ; }
.fs36{ font-size : 36px ; }

.lh28{ line-height:28px; }
.lh30{ line-height:30px; }
.lh35{ line-height:35px; }
.lh36{ line-height:36px; }
.lh40{ line-height:40px; }
.lh45{ line-height:45px; }
.lh50{ line-height:50px; }
.lh60{ line-height:60px; }
.lh65{ line-height:65px; }
.lh80{ line-height:80px; }













/**
*	调整foundation样式
*
**/


html p{
	margin : auto ;
}





/**
*	调整slider默认样式
*
**/

.orbit-caption{
	height:1.8rem;
	line-height:1.8rem;
	padding:0 !important;
	padding-left:0.5rem !important;
}
.orbit-bullets-container{
	position :absolute;
	transform: translateY(50%);
	-webkit-transform: translateY(50%);
	bottom : 0.9rem;
	right : 0.8rem;
}
.orbit-bullets{
    display: block !important;
	margin: 0;
	top:0;
}





















